<h2 class="screen-align">Createtest</h2>
<div id="template-i2wi" class="gjs-row">
    <div id="template-i7kz" class="gjs-cell">
        <label id="template-id79" class="label ">
            <div id="template-i1gt6" class="">Name</div>
        </label>
        <input id="template-ijyw" [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <button id="template-ibq0c" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ik5n6" class="">Send</div>
        </button>
    </div>
    <div id="template-iksn" class="gjs-cell">
        <label id="template-ik2y" class="label ">
            <div id="template-iwmjt" class="">Field</div>
        </label>
        <input id="template-i6wk" [(ngModel)]="test.field" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>